<div class="text-input">
    <i class="fa fa-{{icon}} icon"></i>
    <input id="{{id}}" type="text" oninput="filter(this.value)" />
    <i class="fa fa-times icon clear-icon button" onclick="document.getElementById('{{id}}').value = ''; filter('')"></i>
</div>