<div id="AddTrackScreen" >
    <div id="modificationPageHeader">
        <div id="backButton" class="button icon" onclick="back()" ><i class="fa fa-times fa-2x icon"></i></div>
        <h2 id="modificationPageTitle">Add a new track</h2>
        <div class="button raised" onclick="requestServerDownload(document.getElementById('videoId').value)" >Download</div>
    </div>
    <div class="input">
        <i class="fab fa-youtube fa-2x icon"></i>
        <input type="text" class="form-data" id="videoId" value="" placeholder="Youtube video ID" />
    </div>
</div>