<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Deeezer</title>
        <link rel="stylesheet" type="text/css" href="/public/App.css" />
        <link rel="stylesheet" type="text/css" href="/public/multi-range.css" />
        <script src="https://unpkg.com/squirrelly@latest/dist/squirrelly.min.js"></script>
        <script src="/public/multi-range.js"></script>
        <script src="/public/AppCommon.js"></script>
        <script src="/custom/App.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    </head>
    <body onload="start()">
        <div class="App">
            <div id="header">
                <div class="logo" >
                    <img />
                </div>
                <div class="centeredTitle">
                    <h1>Titres</h1>
                </div>
                
                <i onclick="synchronize()" class="fa fa-download icon button"></i>
            </div>
            <div class="main-container">
                <div class="sidebar left" >
                    <div class="button" onclick="changeScreen('tracks')" >Titles</div>
                    <div class="button" onclick="changeScreen('artists')" >Artists</div>
                    <div id="toaster">
                        <div id="toasterText">?!</div>
                    </div>
                </div>
                <div id="content">
                    {{> TracksScreen}}
                </div>
                <div class="sidebar right" >
                    <div class="border"></div>
                    <div class="content-right">

                    </div>
                </div>
            </div>
            <div id="footer">
                <audio id="player">
                    <p>If you are reading this, it is because your browser does not support the audio element.</p>
                </audio>
                <div id="controls">
                    <div class="button icon" onclick="previous()"><i class="fa fa-backward fa-2x" ></i></div>
                    <div class="button icon" onclick="playPause()"><i id="playButton" class="fa fa-play fa-2x" tabIndex="-1" ></i></div>
                    <div class="button icon" onclick="next()"><i class="fa fa-forward fa-2x" ></i></div>
                </div>
                <div id="currentTrackInfo" onclick="modifyTrack()" ></div>
                <div id="tracker"></div>
            </div>
        </div>
    </body>
</html>