<div id="artistScreen">
    <div class="button icon floating top transparent" onclick="back()"><i class="fa fa-chevron-left icon"></i></div>
    <div id="artistScreenHeader">
        <h2>{{artist.name}}</h2>
    </div>
    <div id="artistTracks">
        {{> Tracks}}
    </div>
</div>