{{foreach(options.tracks)}}
    <div class="trackListItem">
        <div onclick="startPlay('{{@this.id}}')">
            <p class="title" >{{@this.title}}</p>
            <p class="artistName" >{{@this.artist}}</p>
            <p class="duration" >{{@this.duration | duration}}</p>
        </div>
        <i onclick="modifyTrack('{{@this.id}}')" class="fa fa-pen icon button"></i>
    </div>
{{/foreach}}
<div class="button icon floating" onclick=""><i class="fa fa-plus icon"></i></div>