
input[type=range] {
    position: absolute;
    -webkit-appearance: none;
    margin: 0px;
    width: 100%;
    height: 0;
    left: 0;
    top: 50%;
    /*transform: translateY(-50%);*/
}

input[type=range]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 6px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 3px !important;
}

input[type=range].rangeDeactivate::-webkit-slider-runnable-track {
    /*pointer-events: none;*/
    visibility: hidden !important;
}

input[type=range]::-webkit-slider-thumb {
    transform: translateY(-3px);
    transition: width 0.2s, height 0.2s, transform 0.2s;
    height: 12px;
    width: 12px;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 10px;
    background: #3c94FF;
    border-radius: 100px;
    visibility: visible;
}

input[type=range]::-webkit-slider-thumb:hover {
    transform: translateY(-7px);
    height: 20px;
    width: 20px;
}

.multi-range {
    position: relative;
    height: 30px;
    margin: 10px 10px;
}

.multi-range, .multi-range > * {
    padding: 0;
}

.multi-range > hr {
    position: absolute;
    width: 100%;
    top: 50%;
}

.multi-range > .trackBar, .multi-range > .trackSlider {
    position: absolute;
    pointer-events: none;
    height: 6px;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}

.multi-range > .trackSlider {
    width: calc(100%);
    background-color: #555;
    border-radius: 3px;
}

.multi-range > .trackBar {
    background-color: #3c94FF;
    border-radius: 3px;
}