node_modules
*.m4a
package-lock.json
logs.txt
images
.well-known
npm-debug.log
v8-compile-cache*
build
dist
nohup.out
bundle.js
bundle.js.gz
bundle.js.br
bundle.js.map
bundle.js.LICENSE.txt
App.min.css
current_melophony_pid.txt
.vscode
venv
db.sqlite3
*.pyc
__pycache__
files
Server/*/static