node_modules
*.m4a
package-lock.json
logs.txt
data
images
melophony.ddns.net
.well-known
npm-debug.log
v8-compile-cache*
build
dist
nohup.out
bundle.js
current_melophony_pid.txt
bundle.js.map
.vscode
venv
db.sqlite3
*.pyc
__pycache__
files