
.artistListItem > .link {
    flex: 1;
    align-self: stretch;
    display: flex;
    align-items: center;
    padding: 10px;
}

.artistActions {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
}




/* Artist screen */

#artistScreen {}

#artistScreenHeader {
    height: 200px;
    display: flex;
    padding: 10px;
    align-items: flex-end;
    background: var(--warning-bg);
}

#artistScreenHeader > h2 {
    font-size: 25px;
}

#artistTracks {
    padding: 20px;
}

.trackListItem .artist:hover {
    text-decoration: underline;
}