
.artistListItem > .link {
  flex: 1;
  align-self: stretch;
  display: flex;
  align-items: flex-end;
  padding: 15px 10px;
  max-width: 80%;
}


/* Artist screen */

#artistScreenHeader {
  height: 500px;
  display: flex;
  padding: 10px;
  align-items: flex-end;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#artistScreenHeader > h2 {
  font-size: 25px;
}

#artistTracks {
  padding: 20px;
}

.trackListItem .artist:hover {
  text-decoration: underline;
}