

.checkmarkCircle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmarkCircle.success {
  stroke: var(--done-bg);
}

.checkmarkCircle.error {
  stroke: var(--alert-hover-bg);
}

.checkmarkBase {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkmark {
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
}

.checkmark.success {
  box-shadow: inset 0px 0px 0px var(--done-bg);
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark.error {
  box-shadow: inset 0px 0px 0px var(--alert-hover-bg);
  animation: fillError .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.notChecked {
  background-color: var(--disabled-color);
}

.checkmarkCheck {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px var(--done-bg);
  }
}
@keyframes fillError {
  100% {
    box-shadow: inset 0px 0px 0px 30px var(--alert-hover-bg);
  }
}