
:root {
  --primary-bg: #2c84F8;
  --primary-hover-bg: #3c94FF;
  --done-bg: #38b679;
  --done-hover-bg: #4ec88d;
  --warning-bg: #f09300;
  --warning-hover-bg: #ffa619;
  --alert-bg: #dc2d1b;
  --alert-hover-bg: #e74c3c;
  --button-color: #FFF;

  --main-bg-color: #282c34;
  --main-hover-bg: #3e4350;
  --main-color: #D4D7D9;

  --main-dark-bg: #22252c;
  --disabled-color: #666;

  --header-height: 80px;
  --footer-height: 80px;
}

@font-face {
  font-family: MontSerrat;
  src: url("file:///android_asset/fonts/Montserrat.ttf")
}

/*:root{
  --primary-bg: #2c84F8;
  --primary-hover-bg: #3c94FF;
  --done-bg: #38b679;
  --done-hover-bg: #4ec88d;
  --warning-bg: #f09300;
  --warning-hover-bg: #ffa619;
  --alert-bg: #dc2d1b;
  --alert-hover-bg: #e74c3c;
  --button-color: #FFF;

  --main-bg-color: #EEE;
  --main-hover-bg: #DDD;
  --main-color: #282c34;

  --main-dark-bg: #BBB;
  --disabled-color: #666;
}*/

.focus {
  border: 2px solid white !important;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 14px;
}

.title {
  margin: 10px 0;
}

* {
  box-sizing: border-box;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

html, body, #root {
  background-color: var(--main-bg-color);
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "MontSerrat", "Roboto", "Ubuntu", "Open Sans";
  font-size: 0.85em;
  color: var(--main-color);
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0005;
}

::-webkit-scrollbar-thumb {
  background: #7f8c8d;
  min-height: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3498db;
}

.App {
  width: 100%;
  height: 100%;
  align-self: stretch;
}

.main-container {
  margin-top: 80px;
  display: flex;
  width: 100%;
  height: calc(100% - 160px);
  overflow: hidden;
}

.main {
  padding-top: 20px;
}

.logo {
  height: 70px;
}

li {
  list-style-type: none;
}

a {
  color: var(--main-color);
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6 {
  font-family: "MontSerrat", "Ubuntu", sans-serif;
  align-items: center;
  margin: 0;
}

.centeredTitle {
  display: block;
  margin: 10px 0 0 0;
  width: 100%;
  text-align: center;
}

/* Sidebar */

.sidebar.left {
  height: 100%;
  padding: 15px 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  position: relative;
  transition: width 0.5s;
}
.sidebar.left.opened {
  width: 25%;
}

.sidebar.left.closed {
  width: 80px;
}

.sidebar.left.closed .hideWhenClosed {
  display: none !important;
}

.sidebar.left > .button {
  margin: 10px;
  font-size: 15px;
}

.menuLink {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.menuLink > .button {
  flex: 1;
}


.playlist {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  background-color: #222;
  border-radius: 5px;
  padding: 5px;
}

.playlist > .playlistLength {
  align-self: center;
  margin: 5px;
}

.playlistLength > span {
  margin: 2px;
}

.playlist > p {
  margin: 5px;
}

/* Content */

#content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

#content > .statusMessage {
  flex: 1;
}

.uniqueCentered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.trackContainer {
  flex-grow: 1;
  flex-basis: 150px;
  cursor: pointer;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.track {
  padding-top: 56.25%;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.trackInfo {
  padding: 3px;
  font-size: 12px;
  color: var(--main-color);
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--main-hover-bg);
}

/* Artist List Item */



.icon {
  display: inline-flex !important;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
}

.duration {
  width: 50px;
}

.actions {
  display: flex;
  flex-wrap: wrap;
}

.actions > * {
  margin: 10px;
}

.buttonsPanel {
  position: absolute;
  bottom: 5%;
  right: 5%;
  align-self: flex-end;
  display: flex;
}

.buttonsPanel > * {
  margin: 0 5px;
}


.button {
  position: relative;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  border-radius: 5px;
  overflow: hidden;
  transition: background-color 0.2s;
  text-align: right;
}

.button > .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}

.button:hover > .overlay {
  transition: background-color 0.5s;
  background-color: rgba(255, 255, 255, 0.2) !important;
}

.button.icon {
  border-radius: 100px;
  overflow: hidden;
  padding: 0px;
}

.button.icon.active {
  border: 1px solid var(--primary-bg);
  color: var(--primary-bg);
  height: 34px;
  width: 34px;
}

.button.raised {
  margin: 5px;
  padding: 0 20px;
  color: var(--button-color);
  background-color: var(--primary-bg);
}

.button.raised:hover {
  background-color: var(--primary-hover-bg);
}

.button.raised.done {
  background-color: var(--done-bg);
}
.button.raised.done:hover {
  background-color: var(--done-hover-bg);
}

.button.raised.warning {
  background-color: var(--warning-bg);
}
.button.raised.warning:hover {
  background-color: var(--warning-hover-bg);
}

.button.raised.alert {
  background-color: var(--alert-bg);
}
.button.raised.alert:hover {
  background-color: var(--alert-hover-bg);
}

.button.icon.floating {
  position: absolute;
  height: 50px;
  width: 50px;
  bottom: 15px;
  right: 15px;
  background-color: var(--main-bg-color);
  font-size: 20px;
  box-shadow: 0 6px 10px 2px rgba(0,0,0,0.3);
}

.button.icon.floating.mini {
  height: 36px;
  width: 36px;
  font-size: 1em !important;
}

.button.icon.floating.top {
  top: 15px;
  right: 15px;
}

.button.icon.floating.second {
  right: 60px;
}

.button.icon.floating.transparent {
  box-shadow: none !important;
  background: transparent;
}

.button.icon.floating.transparent:hover {
  background: rgba(255, 255, 255, 0.1);
}

.button.icon.floating:hover {
  background-color: var(--main-hover-bg);
}

.button .buttonTitle {
  margin: 0 10px;
}

input {
  outline: none !important;
}

input[type="text"], input[type="password"] {
  flex: 1;
  min-width: 300px;
  border: none;
  padding: 0px 10px;
  border-radius: 5px;
  background: var(--main-dark-bg);
  color: var(--main-color);
}

input[type="text"][disabled] {
  color: var(--disabled-color);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #2ecc71 !important;
}

select {
  background: var(--main-dark-bg);
  border: none;
  border-radius: 5px;
  padding: 5px;
  color: var(--main-color);
  outline: none !important;
}

.delimiter {
  width: 100%;
  height: 1px;
  background: var(--disabled-color);
  margin: 5px 10px;
  flex-shrink: 0;
}