
.select {
  min-width: 200px;
  height: 36px;
}

.commonSelect {
  background: var(--main-dark-bg);
  padding: 8px;
  font-size: 12px;
  height: 36px;
}

.selectCurrent {
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.options {
  z-index: 999;
  position: relative;
  top: -3px;
  background-color: var(--main-dark-bg);
  display: none;
  border-radius: 0 0 5px 5px;
}

.option {
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s
}

.option:hover {
  background-color: var(--main-hover-bg);
}