
/* Common styles are in Header.css */

#footer  {
  bottom: 0;
}

#footer > * {
  margin: 0 10px;
}

#controls {
  display: flex;
  align-items: center;
}

#controls > * {
  margin: 5px;
}

#currentTrackInfoLink {
  width: 30%;
}

#currentTrackInfo {
  font-size: 16px;
  transition: background-color 0.3s;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

#currentTrackInfo:hover {
  background-color: var(--main-hover-bg);
}

#tracker {
  flex: 1;
}

#footer #tracker {
  width: 60%;
}