
#header, #footer {
  background-color: var(--main-bg-color);
  width: 100%;
  display: flex;
  box-shadow: 0 0px 10px rgba(0,0,0,0.3);
  align-items: center;
  position: fixed;
  justify-content: space-between;
}

#header {
  padding: 0 15px;
  height: var(--header-height);
  top: 0;
  z-index: 10000;
}

#footer {
  height: var(--footer-height);
}

#AppHeader {
  margin: 0 20px;
  height: 100%;
  display: flex;
  align-items: center;
  flex: 1;
}

#headerMenu {
  display: flex;
  align-items: center;
}

#headerActions {
  margin: 0 10px;
}

#header > .centeredTitle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#header > div {
  padding: 0 5px;
}

.header .border {
  height: 60%;
  top: 20%;
}
