input[type="text"] {
  height: 36px;
}

/* Exception for multi-select inputs */

.multiSelect input[type="text"] {
  height: auto;
}

.input {
  display: flex;
  flex-wrap: wrap;
}

.input>:nth-child(2):not(.inputLine), .inputLine > :nth-child(2) {
  flex: 1;
}

.text-input {
  display: flex;
  position: relative;
}

.text-input > .input-icons, .text-input > .icon {
  position: absolute;
}

.text-input > .left-icon {
  left: 5px;
}

.text-input > .right-icon {
  right: 5px;
}

.text-input > input {
  height: 36px;
}

.text-input.with-icon > input {
  text-indent: 25px;
}

.clickableTextInput {
  display: flex;
  min-width: 40px;
  min-height: 30px;
}