
.itemInfo, .mainTrackInfo, .optionalTrackInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.itemInfo {
  flex: 1;
}

.mainTrackInfo {
  flex: 3;
  margin: 0 10px;
}

.optionalTrackInfo {
  flex: 1;
  margin: 0 10px;
}

.itemActions {
  display: flex;
  margin: 0 10px;
}