
#contentHeader {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    flex-wrap: wrap;
}

#contentHeader > * {
    margin: 5px 0;
}

#sortBar {
    display: flex;
    align-items: center;
}

#itemList {
    height: calc(100% - 91px);
    align-self: stretch;
    overflow-x: hidden;
    overflow-y: scroll;
}

#itemList > div {
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 14px;
    font-family: "MontSerrat";
    display: flex;
    padding: 3px 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 3px;
}

#itemList > div:hover {
    background-color: var(--main-hover-bg);
}

#itemList .stretchBox {
    flex: 1;
    display: flex;
}

#itemList > div > * {
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
}


#itemBlocks {
    height: calc(100% - 91px);
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow-y: scroll;
}

#itemBlocks > div {
    display: flex;
    align-items: center;
    position: relative;
    flex-basis: calc(100% / 4);
}

.displayActions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#toolBar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#toolBar > * {
    margin: 5px;
}

#itemBlocks .ratioContainer {
    padding-top: 56.25%;
    position: relative;
    cursor: pointer;
}

#itemBlocks .stretchBox {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#itemBlocks .blockBackground {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: brightness(45%);
    border-radius: 5px;
    background-size: cover;
    background-position: center;
}
