
.Toastify__toast-container--bottom-left {
  margin-bottom: 100px !important;
}

.Toastify__toast-theme--dark {
  background: var(--main-dark-bg) !important;
}

.Toastify__progress-bar-theme--dark {
  background: var(--main-color-hover) !important;
}