
@media only screen and (max-width: 768px) {

  h1 {
    font-size: 30px;
  }

  h2 {
    margin-top: 10px;
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 16px;
  }

  h5 {
    font-size: 12px;
  }

  input[type="text"], input[type="password"] {
    min-width: auto;
  }

  .responsiveShrink .buttonTitle {
    display: none;
  }

  .screen {
    padding: 10px 10px 40px 10px;
  }

  .narrowOnly {
    display: block;
  }

  /* Login Screen */

  #loginScreen {
    justify-content: start;
  }

  #loginInputs > .button, #sessionParametersIcon {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.18);
  }

  .sidebar.left {
    position: absolute;
    left: 0%;
    background-color: var(--main-dark-bg);
    z-index: 1000;
    height: 100%;
    padding: 15px 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    transition: transform 0.5s;
  }

  .sidebar.left.opened {
    width: 60%;
    transform: translateX(0);
  }

  .sidebar.left.closed {
    width: 60%;
    transform: translateX(-100%);
  }

  .sidebar.left.closed .hideWhenClosed {
    display: block !important;
  }

  #pageHeader {
    margin-bottom: 0px;
  }

  /* Track Screen */

  #trackScreen {
    margin: 0;
    padding: 0 !important;
  }

  #headerActions {
    display: none;
  }

  #contentHeader > h1 {
    display: none;
  }

  #contentHeader {
    background-color: var(--main-bg-color);
    border-bottom: 1px solid #444;
    margin: 10px;
  }

  .searchbar {
    flex: 1;
  }

  .focus {
    border: none !important;
  }

  #toolBar {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
  }

  .delimiter {
    display: none;
  }

  .itemBlocks {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  }

  .mainTrackInfo {
    flex-direction: column;
  }

  .mainTrackInfo {
    align-items: flex-start;
  }

  .mainTrackInfo > .title {
    font-weight: bold;
    margin: 5px 0;
  }

  .itemActions {
    margin: 0;
  }

  .progressBar, .displayActions > .fa-list, .displayActions > .fa-th, .displayActions > .fa-stream {
    display: none !important;
  }

  .tabBar {
    margin-bottom: 5px;
  }

  #postActions {
    margin: 10px 0;
  }

  /* Track Modification Screen */

  .columns > div {
    min-width: auto;
    margin: 5px;
  }

  ::-webkit-scrollbar {
    width: 0px !important;
  }

  #toolBar input[type="text"] {
    min-width: auto;
  }

  #footer {
    flex-wrap: wrap;
  }

  #controls {
    margin: 0 1%;
  }

  #currentTrackInfo {
    flex-direction: row;
    flex: 1;
    font-size: 14px;
  }

  .currentTrackInfoLink {
    margin: 0 1%;
    overflow: hidden;
    flex: 1 0;
  }

  #footer .tracker {
    flex-shrink: 0;
    width: 100%;
    position: relative;
    top: -5px;
  }

  .tracker {
    display: none;
  }

  .input > :not(.inputLine), .inputLine > * {
    margin: 10px 5px;
  }

  /* Artist Overview Screen */

  #titlesHeader {
    box-shadow: 0 0px 10px rgba(0,0,0,0.3);
  }

  #artistScreenHeader {
    height: 400px;
    background-size: cover;
  }
}

@media only screen and (max-width: 550px) {

  .notificationToasters {
    bottom: 18%;
  }

  #mainContainer {
    --footer-height: 25px;
  }

  #footer {
    flex-direction: column;
    flex-wrap: initial;
    --footer-height: 25px;
  }

  #controls, #currentTrackInfo {
    position: relative;
    top: -20px;
  }

  #controls {
    width: 100%;
    display: flex;
    justify-content: center;
    pointer-events: none;
  }

  #controls > * {
    pointer-events: auto;
  }

  #playButton {
    background-color: var(--main-hover-bg);
  }

  #left, #right {
    position: absolute;
    width: 31.5%;
    bottom: var(--footer-height);
    background: transparent;
    height: 30px;
    box-shadow: 0 21px 0px 0px var(--main-bg-color);
    pointer-events: none;
  }

  #left, #bubble, #right {
    display: block;
  }

  #right {
    border-radius: 0 0 0 14px;
    right: -3%;
  }

  #bubble {
    position: absolute;
    width: 40%;
    height: 46px;
    bottom: calc(var(--footer-height) - 26px);
    background-color: var(--main-bg-color);
    border-radius: 50px;
    box-shadow: 0 -9px 10px rgb(0 0 0 / 12%);
    z-index: -1;
  }

  #left {
    left: -3%;
    border-radius: 0 0 14px 0;
  }

  #currentTrackInfo {
    width: 100%;
    max-height: 63%;
    padding: 0 5px;
    align-items: center;
  }

  .currentTrackInfoLink {
    /* align-items: flex-start; */
    padding: 3px;
    height: 100%;
  }
}