
@media only screen and (max-width: 768px) {

  h1 {
    font-size: 30px;
  }

  h2 {
    margin-top: 10px;
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 16px;
  }

  h5 {
    font-size: 12px;
  }

  input[type="text"], input[type="password"] {
    min-width: auto;
  }

  .responsiveShrink .buttonTitle {
    display: none;
  }

  .screen {
    padding: 10px;
  }

  /* Login Screen */

  #loginScreen {
    justify-content: start;
  }

  #loginInputs > .button, #sessionParametersIcon {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.18);
  }

  .sidebar.left {
    position: absolute;
    left: 0%;
    background-color: var(--main-dark-bg);
    z-index: 1000;
    height: 100%;
    padding: 15px 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    transition: transform 0.5s;
  }

  .sidebar.left.opened {
    width: 60%;
    transform: translateX(0);
  }

  .sidebar.left.closed {
    width: 60%;
    transform: translateX(-100%);
  }

  .sidebar.left.closed .hideWhenClosed {
    display: block !important;
  }

  /* Track Screen */

  #trackScreen {
    margin: 0;
    padding: 0 !important;
  }

  #headerActions {
    display: none;
  }

  #contentHeader > h1 {
    display: none;
  }

  #contentHeader {
    background-color: var(--main-bg-color);
    border-bottom: 1px solid #444;
    margin: 10px;
  }

  .searchbar {
    flex: 1;
  }

  .focus {
    border: none !important;
  }

  #toolBar {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
  }

  .delimiter {
    display: none;
  }

  .itemBlocks {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  }

  .mainTrackInfo {
    flex-direction: column;
  }

  .mainTrackInfo {
    align-items: flex-start;
  }

  .mainTrackInfo > .title {
    font-weight: bold;
    margin: 5px 0;
  }

  .itemActions {
    margin: 0;
  }

  .progressBar, .displayActions > .fa-list, .displayActions > .fa-th, .displayActions > .fa-stream {
    display: none !important;
  }

  /* Track Modification Screen */

  .columns > div {
    min-width: auto;
    margin: 5px;
  }

  ::-webkit-scrollbar {
    width: 0px !important;
  }

  #toolBar input[type="text"] {
    min-width: auto;
  }

  #footer {
    flex-wrap: wrap;
  }

  #controls {
    width: 30%;
    margin: 0 1%;
  }

  #currentTrackInfoLink {
    display: flex;
    align-items: center;
    margin: 0 1%;
    width: 65%;
    height: 48px;
    white-space: nowrap;
    overflow: hidden;
    max-width: 65%;
  }

  #footer #tracker {
    flex-shrink: 0;
    width: 100%;
    position: relative;
    top: -5px;
  }

  #tracker {
    margin: 10px 0;
  }

  .input > * {
    margin: 10px 5px;
  }

  /* Artist Overview Screen */

  #titlesHeader {
    box-shadow: 0 0px 10px rgba(0,0,0,0.3);
  }

  #artistScreenHeader {
    height: 400px;
    background-size: cover;
  }
}

@media only screen and (max-width: 450px) {
  #currentTrackInfo {
    white-space: nowrap;
    display: inline-block;
    padding: 0;
    animation: marquee 8s linear infinite;
  }

  #currentTrackInfo > p {
    display: inline-block;
    margin: 0 20px;
  }

  @keyframes marquee {
    0% { transform: translate3d(0, 0, 0); }
    100% { transform: translate3d(-25%, 0, 0); }
  }
}