
@media only screen and (max-width: 768px) {

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 16px;
  }

  h5 {
    font-size: 12px;
  }

  input[type="text"], input[type="password"] {
    min-width: auto;
  }

  .responsiveShrink .buttonTitle {
    display: none;
  }

  .screen {
    padding: 10px;
  }

  /* Login Screen */

  #loginScreen {
    justify-content: start;
  }

  #loginInputs > .button, #sessionParametersIcon {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.18);
  }

  .sidebar.left {
    display: none;
  }

  /* Track Screen */

  #menu {
    display: none !important;
  }

  #trackScreen {
    margin: 0;
    padding: 0 !important;
  }

  #headerActions {
    display: none;
  }

  #contentHeader > h1 {
    display: none;
  }

  #contentHeader {
    position: absolute;
    z-index: 999;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 10px;
    transition: top 0.4s ease-in-out;
  }

  .searchbar {
    flex: 1;
  }

  #toolBar {
    height: 50px;
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    background-color: #222;
    margin: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  }

  .delimiter {
    display: none;
  }

  .itemBlocks {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  }

  .itemBlocks, #itemList {
    height: 100%;
    position: relative;
    transition: top 0.4s ease-in-out;
  }

  #trackScreen #itemList, #artistScreen .itemBlocks {
    top: 65px;
  }

  .itemInfo {
    margin:  10px 0;
  }

  .mainTrackInfo {
    flex-direction: column;
  }

  .mainTrackInfo {
    align-items: flex-start;
  }

  .mainTrackInfo > .title {
    font-weight: bold;
    margin: 10px 0;
  }

  .itemActions {
    margin: 0;
  }

  .progressBar, .displayActions > .fa-list, .displayActions > .fa-th, .displayActions > .fa-stream, #sortBar {
    display: none !important;
  }

  /* Track Modification Screen */

  .columns > div {
    min-width: auto;
  }

  ::-webkit-scrollbar {
    width: 0px !important;
  }

  #toolBar input[type="text"] {
    min-width: auto;
    background: none !important;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 25px;
  }

  #footer {
    flex-wrap: wrap;
  }

  #controls {
    width: 30%;
    margin: 0 1%;
  }

  #currentTrackInfoLink {
    display: flex;
    align-items: center;
    margin: 0 1%;
    width: 65%;
    height: 48px;
    white-space: nowrap;
  }

  #currentTrackInfo {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  #footer #tracker {
    flex-shrink: 0;
    width: 100%;
    position: relative;
    top: -5px;
  }

  .input > * {
    margin: 10px 5px;
  }

  /* Artist Overview Screen */

  #titlesHeader {
    box-shadow: 0 0px 10px rgba(0,0,0,0.3);
  }

  #artistScreenHeader {
    height: 400px;
    background-size: cover;
  }
}