
#userDrawer {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  align-items: center;
  border-bottom: 1px solid var(--disabled-color);
}

#userName {
  display: flex;
  align-items: center;
}

#userSpace {
  overflow: hidden;
  transition: max-height 0.5s;
}

#userMessage {
  text-align: center;
  margin: 10px;
}

#disconnectButton {
  background-color: var(--alert-bg);
}