
.artistListItem > .name {
    max-width: 70%;
}

.artistActions {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
}




/* Artist screen */

#artistScreen {
    overflow-x: hidden;
    overflow-y: scroll;
}

#artistScreenHeader {
    height: 200px;
    display: flex;
    padding: 10px;
    align-items: flex-end;
    background: var(--warning-bg);
}

#artistScreenHeader > h2 {
    font-size: 25px;
}

#artistTracks {
    padding: 20px;
}