
.select {
    min-width: 200px;
}

.commonSelect {
    background: var(--main-dark-bg);
    padding: 8px;
    font-size: 12px;
}

.selectCurrent {
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.options {
    position: relative;
    top: -3px;
    background: var(--main-dark-bg);
    display: none;
    border-radius: 0 0 5px 5px;
}

.option {
    border-radius: 3px;
}