
#contentHeader {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    height: 40px;
}

#sortBar {
    display: flex;
    align-items: center;
}

#itemList {
    height: calc(100% - 91px);
    align-self: stretch;
    overflow-x: hidden;
    overflow-y: scroll;
}

#itemList > div {
    width: 100%;
    height: 40px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 14px;
    font-family: "MontSerrat";
    display: flex;
    align-items: center;
    padding: 3px 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 3px;
}

#itemList > div:hover {
    background-color: var(--main-hover-bg);
}

#itemList > div > div {
    display: flex;
    padding: 3px 0;
}

#itemList > div > * {
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
}


#itemBlocks {
    height: calc(100% - 91px);
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow-y: scroll;
}

#itemBlocks > div {
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
    height: 50px;
    min-width: 200px;
    max-width: 400px;
    flex: 1;
    border-radius: 5px;
    background: #222;
    margin: 5px 10px;
}

.displayActions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 20px;
}

.searchbar {
    position: absolute;
    left: 20%;
}
