

#modificationPage {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    overflow-x: hidden;
    overflow-y: scroll;
}

#modificationPage > div {
    margin: 20px;
}

#modificationPageHeader {
    display: flex;
    margin-bottom: 30px;
}

#modificationPageHeader > *, .input > * {
    margin: 10px;
}

#modificationPageTitle {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    flex: 1;
}

#trackModificator {
    flex: 1;
}

#serverInformation {}

#serverInformation > .header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#modificationDownloadProgress {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #22252c;
    border-radius: 3px;
}