<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Deeezer</title>
    <link rel="stylesheet" type="text/css" href="/public/App.css" />
    <link rel="stylesheet" type="text/css" href="/public/multi-range.css" />
    <script src="https://unpkg.com/squirrelly@latest/dist/squirrelly.min.js"></script>
    <script src="/public/multi-range.js"></script>
    <script src="/public/AppCommon.js"></script>
    <script src="/custom/App.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>
<body onload="start()">

    {{{body}}}

</body>
</html>